
.btn {
    cursor: pointer;
    padding: 3px;
}

.mainHdr {
  width: 100%;
  min-height: 50px;
  padding: 10px;
}

.mainContainer {
  width: 100%;
  margin-top: 15px;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}

.mainContent {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 15px;
}

.formContainer {
  width: 95%;
  margin: 15px auto 0 auto;
  .formArticle {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 10px;
      .addListForm {
          display: flex;
          flex-wrap: wrap;
          gap: 5px;
          .inp {
              padding: 3px;
          }
          .inp[type="number"] {
              width: 75px;;
          }
      }
  } ;
}

.listContainer {
  width: 95%;
  margin: 15px auto 0 auto;
}

.listTable {
  width: 85%;
  margin: 15px auto;
  border-collapse: collapse;
  text-align: center;
  .tbody {
      border-bottom: 2px solid black;
      .td {
          padding: 5px 0 3px 0;
          .btn {
              margin-right: 5px;
          }
      }
  }
}

.bb2 {
  border-bottom: 2px solid black;
}

.bb1 {
  border-bottom: 1px solid rgb(109, 109, 109);
}

.listTable .tbody .tr:nth-child(odd) {
  background-color: #f3f3f3;
}

.rowBlue {
  background-color: rgb(185, 252, 189);
}

.rightMenu {
  margin-top: 0;
  grid-column: 2 / 3;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  .menu {
      list-style: none;
      .li {
          margin-top: 10px;
          &:hover {
              cursor: pointer;
              color: red;
          }
      }
  }
}

.footer {
  width: 100%;
  height: 40px;
}

.login {
  width: 90%;
  height: 50px;
  margin: 15px auto;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
  z-index: 50;
  display: none;
  justify-content: center;
  align-items: center;

  .loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

@media screen and (width <= 500px) {
  .mainContainer {
      display: flex;
      flex-direction: column-reverse;
  }

  .mainContent {
      margin-top: 10px;
  }
}